<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" /> <!-- CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" /> <!-- CSS -->
    <script src="{% static 'js/jquery.js' %}"></script> <!-- JavaScript -->
</head>
<body>
    <h1>Rango Says...</h1>
    Here is the about page.<br />
    <a href="/rango/">Index</a><br />
    <img src="{% static 'rango2.jpg' %}" alt="Picture of Rango" />
</body>
</html>